# System Transparency build configuration.

##############################################################################
# Tooling Customization
#
# Following settings can be used to override the stable internal default 
# versions of the toolchain.
##############################################################################
# ST_UROOT_VERSION overrides the default version for the u-root command.
# Use a branch, tag or commit from
# https://github.com/u-root/u-root.
#
#ST_UROOT_VERSION=

# ST_STBOOT_VERSION overrides the default version for the stboot bootloader.
# Use a branch, tag or commit from
# https://git.glasklar.is/system-transparency/core/stboot.
#
#ST_STBOOT_VERSION=

# ST_STMGR_VERSION overrides the default version for the stmgr command.
# Use a branch, tag or commit from 
# https://git.glasklar.is/system-transparency/core/stmgr.
#
#ST_STMGR_VERSION=


##############################################################################
# stboot installation image
#
# Following options controls the creation of the stboot installation image. 
# This includes the LinuxBoot kernel and initramfs, the host- and security
# configuration files and further files and paramters.
##############################################################################

# ST_STBOOT_ARGS defines additional stboot command-line arguments.

ST_STBOOT_ARGS="-loglevel=d"

# ST_LINUXBOOT_KERNEL_VERSION defines the linux kernel version of the LinuxBoot
# distribution.
#
ST_LINUXBOOT_KERNEL_VERSION=5.15.21

# ST_LINUXBOOT_KERNEL_CONFIG is the linux kernel defconfig loaded before
# the kernel is beeing built.
#
ST_LINUXBOOT_KERNEL_CONFIG="contrib/linuxboot.defconfig"

# ST_LINUXBOOT_CMDLINE controls the kernel command-line of the LinuxBoot kernel.
#
#ST_LINUXBOOT_CMDLINE="console=ttyS0,115200"

##############################################################################
# stboot provisioningiso image
#
# Following options controls the creation of the stboot provisioning iso
# image.
##############################################################################

# ST_PROVISO_STMGR_ARGS defines the command-line arguments for stmgr.
ST_PROVISO_STMGR_ARGS="-efi"
