/configs
/stboot/*.cpio
/stboot/*bz*
/stboot/*.json
/stconfig/.original/
/deploy/image/*.img
/deploy/image/vmlinuz-linuxboot
/.original*
/remote-os/debian/docker/out
/remote-os/debian/docker/document_build.info
/remote-os/debian/docker/.debos-*
/keys/signing-key-*
/keys/root.*
