/configs/*/
/stboot/*.cpio
/stboot/*.cpio.gz
/stboot/*.json
/stboot/include/hostvars.json
/stboot/data/*.json
/stboot/data/*.pem
/deploy/mixed-firmware/*.img
/deploy/mixed-firmware/vmlinuz-linuxboot
/operating-system/debian/docker/out
/operating-system/debian/docker/document_build.info
/operating-system/debian/docker/.debos-*
/keys/signing-key-*
/keys/root.*
/keys/rootcert.fingerprint
/.notes/
/releases/
