# System Transparency build configuration.

# This file is sourced by other shell scripts, possibly run by /bin/sh
# (which might not be bash, nor dash).

# ST_PROVISIONING_SERVER_URL ends up in
# stboot/data/provisioning-servers.json which determines where boot
# balls are being fetched from.
#ST_PROVISIONING_SERVER_URL="https://stboot.9esec.dev"
ST_PROVISIONING_SERVER_URL=
