# System Transparency build configuration.

# This file is sourced by other shell scripts, possibly run by /bin/sh
# (which might not be bash, nor dash).

# The script upoad_bootball.sh uses this data during uplaod.
# Upload is done via scp, so make sure ssh key are setup right on the server.

# SSH settings used in stconfig/upload_bootball.sh
# to copy files to your provisioning server.
# ST_SSH_UPLOAD_SERVER is the domain of the provisioning server.
ST_SSH_UPLOAD_SERVER=
# ST_SSH_UPLOAD_USER is the username at the provisioning server.
ST_SSH_UPLOAD_USER=
# ST_SSH_UPLOAD_PATH is the web root of the provisioning server.
ST_SSH_UPLOAD_PATH=

# ST_PROVISIONING_SERVER_URL ends up in
# stboot/data/provisioning-servers.json which determines where boot
# balls are being fetched from.
#ST_PROVISIONING_SERVER_URL="https://stboot.9esec.dev"
ST_PROVISIONING_SERVER_URL=

# ST_QEMU_MEM is the amount of RAM for qemu guests, in megabytes.
#ST_QEMU_MEM=8192
ST_QEMU_MEM=2048
