version: '3'

vars:
  UROOT_REPO: github.com/u-root/u-root
  UROOT_DEFAULT_VERSION: v0.10.0
  STBOOT_REPO: github.com/system-transparency/stboot
  STBOOT_DEFAULT_VERSION: 96c2c50
  STMGR_REPO: github.com/system-transparency/stmgr
  STMGR_DEFAULT_VERSION: 1c1394b
  CPU_REPO: github.com/u-root/cpu
  CPU_DEFAULT_VERSION: a901912
  GOBIN: cache/go/bin
  GOPATH:
    sh: echo "$PWD/cache/go"
  GOPREFIX: GOPATH={{.GOPATH}}

tasks:

  # XXX: It is not safe to run "get" and "checkout" task concurrently.
  #      If a repository gets updated during a checkout, an error due to
  #      conflicting git commands may be caused.
  get:
    cmds:
      - "{{.GOPREFIX}} go get -d {{.REPO}}/..."
    env:
      GO111MODULE: off
    label: "get {{.REPO}}"
    preconditions:
      - sh: '[ -n "{{.REPO}}" ]'
        msg: "task bug: REPO not defined"
    run: when_changed
    status:
      - "test -f cache/go/src/{{.REPO}}/.git/config"
    vars:
        REPO: "{{.REPO}}"

  checkout:
    cmds:
      - "git -C cache/go/src/{{.REPO}} fetch --quiet"
      - "git -C cache/go/src/{{.REPO}} checkout --quiet {{.BRANCH}}"
    env:
      GO111MODULE: off
    deps:
      - task: get
        vars:
          REPO: "{{.REPO}}"
    label: "go:checkout {{.REPO}}@{{.BRANCH}}"
    preconditions:
      - sh: '[ -n "{{.REPO}}" ]'
        msg: "task bug: REPO not defined"
      - sh: '[ -n "{{.BRANCH}}" ]'
        msg: "task bug: BRANCH not defined"
    run: when_changed
    status:
      - "test -f cache/go/src/{{.REPO}}/.git/HEAD"
      - "git -C cache/go/src/{{.REPO}} diff --no-patch --exit-code {{.BRANCH}} >/dev/null 2>&1"
    vars:
        REPO: "{{.REPO}}"
        BRANCH: "{{.BRANCH}}"

  install:
    cmds:
      - '{{.GOPREFIX}} go install -ldflags "{{.GO_LDFLAGS}}" {{.PACKAGE}}@{{.VERSION}}'
      # create version file
      - cmd: 'echo "{{.VERSION}}" > {{.GOBIN}}/.{{.NAME}}'
        silent: true
    label: "go:install {{.NAME}}"
    preconditions:
      - sh: '[ -n "{{.NAME}}" ]'
        msg: "task bug: NAME not defined"
      - sh: '[ -n "{{.PACKAGE}}" ]'
        msg: "task bug: PACKAGE not defined"
    run: when_changed
    status:
      - "test -x {{.GOBIN}}/{{.NAME}}"
      # check version file
      - 'grep -q {{.VERSION}} {{.GOBIN}}/.{{.NAME}}'
    vars:
      VERSION: '{{default "latest" .VERSION}}'
      GO_LDFLAGS: '{{default "" .GO_LDFLAGS}}'

  all:
    deps:
      - task
      - u-root
      - stmgr
    # checkout sequentially
    cmds:
      - task: checkout-cpu
      - task: checkout-uroot
      - task: checkout-stboot

  update:
    cmds:
      - "rm -rf {{.GOBIN}}"
      - task: all
    run: once

  task:
    cmds:
      - task: install
        vars:
          NAME: task
          PACKAGE: github.com/go-task/task/v3/cmd/task
    run: once

  u-root:
    cmds:
      - task: install
        vars:
          NAME: u-root
          PACKAGE: "{{.UROOT_REPO}}"
          VERSION: "{{.UROOT_VERSION}}"
    run: once
    vars:
      UROOT_VERSION:
        sh: |
          if [ -n "{{.ST_UROOT_VERSION}}" ]; then
          echo {{.ST_UROOT_VERSION}}
          else
          echo {{.UROOT_DEFAULT_VERSION}}
          fi

  stmgr:
    cmds:
      - task: install
        vars:
          NAME: stmgr
          PACKAGE: "{{.STMGR_REPO}}"
          VERSION: "{{.STMGR_VERSION}}"
    run: once
    vars:
      STMGR_VERSION:
        sh: |
          if [ -n "{{.ST_STMGR_VERSION}}" ]; then
          echo {{.ST_STMGR_VERSION}}
          else
          echo {{.STMGR_DEFAULT_VERSION}}
          fi

  cpu:
    cmds:
      - task: install
        vars:
          NAME: cpu
          PACKAGE: "{{.CPU_REPO}}/cmds/cpu"
          VERSION: "{{.CPU_VERSION}}"
    run: once
    vars:
      CPU_VERSION:
        sh: |
          if [ -n "{{.ST_CPU_VERSION}}" ]; then
          echo {{.ST_CPU_VERSION}}
          else
          echo {{.CPU_DEFAULT_VERSION}}
          fi

  debos:
    cmds:
      - '{{.GOPREFIX}} go get github.com/go-debos/debos/cmd/debos'
    deps:
      # libglib2.0-dev
      - task: :deps:check-pkg
        vars: {PKG: "glib-2.0"}
      - task: :deps:check-pkg
        vars: {PKG: "gobject-2.0"}
      # libostree-dev
      - task: :deps:check-pkg
        vars: {PKG: "ostree-1"}
      - task: get
        vars:
          REPO: github.com/go-debos/debos
    env:
      GO111MODULE: off
    run: once
    status:
      - "test -x cache/go/bin/debos"

  # Fetch/checkout Repos into GOPATH for u-root build runtime

  checkout-cpu:
    cmds:
      - task: :go:checkout
        vars:
          REPO: "{{.CPU_REPO}}"
          BRANCH: "{{.CPU_VERSION}}"
    run: once
    vars:
      CPU_VERSION:
        sh: |
          if [ -n "{{.ST_CPU_VERSION}}" ]; then
          echo {{.ST_CPU_VERSION}}
          else
          echo {{.CPU_DEFAULT_VERSION}}
          fi

  checkout-uroot:
    cmds:
      - task: :go:checkout
        vars:
          REPO: "{{.UROOT_REPO}}"
          BRANCH: "{{.UROOT_VERSION}}"
    run: once
    vars:
      UROOT_VERSION:
        sh: |
          if [ -n "{{.ST_UROOT_VERSION}}" ]; then
          echo {{.ST_UROOT_VERSION}}
          else
          echo {{.UROOT_DEFAULT_VERSION}}
          fi

  checkout-stboot:
    cmds:
      - task: :go:checkout
        vars:
          REPO: "{{.STBOOT_REPO}}"
          BRANCH: "{{.STBOOT_VERSION}}"
    run: once
    vars:
      STBOOT_VERSION:
        sh: |
          if [ -n "{{.ST_STBOOT_VERSION}}" ]; then
          echo {{.ST_STBOOT_VERSION}}
          else
          echo {{.STBOOT_DEFAULT_VERSION}}
          fi

  clean:
    cmds:
      - "[ ! -d cache/go ] || chmod +w -R cache/go"
      - rm -rf cache/go
    run: once
