version: '3'

vars:
  TARBALL_DIR: cache/tarball
  KERNEL_DIR:
    sh: echo cache/linux/{{.ST_LINUXBOOT_KERNEL_VERSION}} | tr . _
  KERNEL_CONFIG: ./{{.KERNEL_DIR}}/.config
  KERNEL_BZIMAGE: ./{{.KERNEL_DIR}}/arch/x86/boot/bzImage
  KERNEL_MIRROR: https://cdn.kernel.org/pub/linux/kernel
  KERNEL_TARBALL: linux-{{.ST_LINUXBOOT_KERNEL_VERSION}}.tar.xz
  KERNEL_TARBALL_FILE: ./{{.TARBALL_DIR}}/{{.KERNEL_TARBALL}}
  KERNEL_TARBALL_URL:
    sh: |
      major=$(echo {{.ST_LINUXBOOT_KERNEL_VERSION}} |  cut -d . -f 1)
      echo {{.KERNEL_MIRROR}}/v${major}.x/{{.KERNEL_TARBALL}}

tasks:

  # TODO:
  # * add hash validation
  # * add signature validation
  fetch:
    generates:
      - ./{{.KERNEL_TARBALL_FILE}}
    cmds:
      - mkdir -p {{.TARBALL_DIR}}
      - cd {{.TARBALL_DIR}} && curl -LOs {{.KERNEL_TARBALL_URL}}
    preconditions:
      - sh: '[ -n "{{.KERNEL_TARBALL_URL}}" ]'
        msg: 'task bug: KERNEL_TARBALL_URL not defined'
    status:
      - "[ -f {{.KERNEL_TARBALL_FILE}} ]"
    run: once

  unpack:
    sources:
      - ./{{.KERNEL_TARBALL_FILE}}
    generates:
      - ./{{.UNPACK_FLAG}}
    method: timestamp
    cmds:
      - mkdir -p {{.KERNEL_DIR}}
      - tar xJf {{.KERNEL_TARBALL_FILE}} --strip 1 -C {{.KERNEL_DIR}}
      - cmd: touch {{.UNPACK_FLAG}}
        silent: true
    run: once
    vars:
      UNPACK_FLAG: ./{{.KERNEL_DIR}}/.unpack

  config:
    sources:
      - ./{{.ST_LINUXBOOT_KERNEL_CONFIG}}
    generates:
      - ./{{.KERNEL_CONFIG}}
    cmds:
      - cp {{.ST_LINUXBOOT_KERNEL_CONFIG}} {{.KERNEL_CONFIG}}
      - make -C {{.KERNEL_DIR}} -s olddefconfig
    run: when_changed
    status:
      - "{{.CONFIG_HELPER}} linux:config {{.DEPS}}"
      - "[ -f {{.KERNEL_CONFIG}} ]"
    vars:
      DEPS: >-
        ST_LINUXBOOT_KERNEL_VERSION
        ST_LINUXBOOT_KERNEL_CONFIG

  build:
    sources:
      - ./{{.KERNEL_CONFIG}}
    generates:
      - ./{{.KERNEL_BZIMAGE}}
    cmds:
      - make -C {{.KERNEL_DIR}} -j$(nproc) bzImage
    run: when_changed

  kernel:
    deps:
      - :check-config
    sources:
      - ./{{.KERNEL_BZIMAGE}}
    generates:
      - ./{{.KERNEL_IMAGE}}
    method: timestamp
    cmds:
      - task: fetch
      - task: unpack
      - task: config
      - task: build
      - mkdir -p $(dirname {{.KERNEL_DIR}})
      - cp {{.KERNEL_BZIMAGE}} {{.KERNEL_IMAGE}}
    preconditions:
      - sh: '[ -n "{{.ST_LINUXBOOT_KERNEL_IMAGE}}" ] || [ -f {{.ST_LINUXBOOT_KERNEL_IMAGE}} ]'
        msg: |-
          [ERROR] linux kernel image {{.ST_LINUXBOOT_KERNEL_IMAGE}} not found.
      - sh: '[ -n "{{.ST_LINUXBOOT_KERNEL_CONFIG}}" ]'
        msg: |-
          [ERROR] configuration ST_LINUXBOOT_KERNEL_CONFIG not defined in {{.CONFIG}}.
      - sh: '[ -f "{{.ST_LINUXBOOT_KERNEL_CONFIG}}" ]'
        msg: |-
          [ERROR] linux configuration file {{.ST_LINUXBOOT_KERNEL_CONFIG}} missing.
    status:
      # do not build if ST_LINUXBOOT_KERNEL_IMAGE is set
      - >
        [ -n "{{.ST_LINUXBOOT_KERNEL_IMAGE}}" ] ||
        ({{.CONFIG_HELPER}} linux:kernel {{.DEPS}} && [ -f "{{.KERNEL_IMAGE}}" ])
    run: when_changed
    vars:
      DEPS: >-
        ST_LINUXBOOT_KERNEL_VERSION
        ST_LINUXBOOT_KERNEL_CONFIG

  efi:
    deps:
      - kernel
      - :{{.INITRAMFS_TARGET}}
    sources:
      - ./{{.KERNEL_IMAGE}}
      - ./{{.INITRAMFS}}
    generates:
      - ./{{.IMAGE}}
    method: timestamp
    # TODO: Add system-transparency os-release entry
    cmds:
      - >
        objcopy
        {{.CMDLINE_ARG}}
        --add-section .linux="{{.KERNEL_IMAGE}}" --change-section-vma .linux=0x2000000
        --add-section .initrd="{{.INITRAMFS}}" --change-section-vma .initrd=0x3000000
        {{.EFI_STUB}} {{.IMAGE}}
    preconditions:
      - sh: '[ -n "{{.IMAGE}}" ]'
        msg: 'task bug: IMAGE not defined'
      - sh: '[ -n "{{.INITRAMFS}}" ]'
        msg: 'task bug: INITRAMFS not defined'
      - sh: '[ -n "{{.INITRAMFS_TARGET}}" ]'
        msg: 'task bug: INITRAMFS_TARGET not defined'
    status:
      - "{{.CONFIG_HELPER}} linux:efi {{.DEPS}}"
    vars:
      # TODO: remove systemd dependency
      EFI_STUB:
        "/usr/lib/systemd/boot/efi/linuxx64.efi.stub"
      CMDLINE_TXT: out/artifacts/cmdline.txt
      CMDLINE_ARG:
        sh: |
          if [ -n "{{.ST_LINUXBOOT_CMDLINE}}" ]; then
            echo "{{.ST_LINUXBOOT_CMDLINE}}" > {{.CMDLINE_TXT}}
            echo '--add-section .cmdline="{{.CMDLINE_TXT}}" --c-section-vma .cmdline=0x30000'
          fi
      DEPS: >-
        ST_LINUXBOOT_CMDLINE

  # TODO: add keyring integrity check
  gpg-keyring:
    generates:
      - ./{{.GPG_KEYRING}}
    cmds:
      - mkdir -p -m 700 {{.GPG_DIR}}
      - gpg -q --batch --homedir {{.GPG_DIR}} --auto-key-locate wkd --locate-keys >/dev/null
      - gpg -q --batch --homedir {{.GPG_DIR}} --auto-key-locate wkd --locate-keys {{.DEV_1}} {{.DEV_2}} >/dev/null
      - gpg -q --batch --homedir {{.GPG_DIR}} --no-default-keyring --export {{.DEV_1}} {{.DEV_2}}) > {{.GPG_KEYRING}}
    vars:
      DEV_1: torvalds@kernel.org
      DEV_2: gregkh@kernel.org
      GPG_DIR: cache/gnupg
      GPG_KEYRING: ./{{.GPG_DIR}}/keyring.gpg
    run: once
