CONFIG_VENDOR_SUPERMICRO=y
CONFIG_NO_POST=y
CONFIG_SOC_INTEL_COMMON_BLOCK_SGX_ENABLE=y
CONFIG_HAVE_IFD_BIN=y
CONFIG_BOARD_SUPERMICRO_X11SSH_TF=y
CONFIG_USE_LEGACY_8254_TIMER=y
CONFIG_VALIDATE_INTEL_DESCRIPTOR=y
CONFIG_HAVE_ME_BIN=y
CONFIG_CHECK_ME=y
CONFIG_LOCK_MANAGEMENT_ENGINE=y
CONFIG_NO_GFX_INIT=y
CONFIG_VPD=y
CONFIG_USER_TPM2=y
CONFIG_TPM_MEASURED_BOOT=y
CONFIG_CONSOLE_CBMEM_BUFFER_SIZE=0x80000
CONFIG_PAYLOAD_NONE=y
