---

name: Testing

on:
  push:
  pull_request:
    branches:
      - main

jobs:

  build-ubuntu20:
    runs-on: ubuntu-20.04
    steps:
      - name: Install Go 1.17
        uses: actions/setup-go@v1
        with:
          go-version: 1.17
      - name: Install dependencies
        run: |
          DEBIAN_FRONTEND=noninteractive sudo apt-get -qq update
          DEBIAN_FRONTEND=noninteractive sudo apt-get -qqy install \
          wget debootstrap systemd-container libglib2.0-dev libostree-dev

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          . .envrc
          task deps:install

      - name: Build default config
        run: |
          . .envrc
          task config

      - name: Generate example signing keys
        run: |
          . .envrc
          task demo:keygen

      - name: Download example OS
        run: |
          mkdir -p cache/debos
          cd cache/debos
          wget https://github.com/system-transparency/example-os/releases/download/v0.1/ubuntu-focal-amd64.cpio.gz
          wget https://github.com/system-transparency/example-os/releases/download/v0.1/ubuntu-focal-amd64.vmlinuz

      - name: Generate and sign OS Package
        run: |
          . .envrc
          task demo:ospkg

      - name: Upload example OS Package
        uses: actions/upload-artifact@v2
        with:
          name: ospkg
          path: out/ospkgs/*
          retention-days: 1

      - name: Build network mode images
        run: |
          . .envrc
          task images

      - name: Upload network mode disk installations
        uses: actions/upload-artifact@v2
        with:
          name: stboot_network_disk
          path: out/stboot.img
          retention-days: 1

      - name: Upload network mode iso installations
        uses: actions/upload-artifact@v2
        with:
          name: stboot_network_iso
          path: out/stboot.iso
          retention-days: 1

      - name: Set boot mode to local
        run: |
          sed -i '/^ST_BOOT_MODE=network/s/^/#/g' st.config
          sed -i '/^#ST_BOOT_MODE=local/s/^#//g' st.config

      - name: Build local mode disk image
        run: |
          . .envrc
          task disk

      - name: Upload local mode disk installation
        uses: actions/upload-artifact@v2
        with:
          name: stboot_local_disk
          path: out/stboot.img
          retention-days: 1

  run-disk-network:
    runs-on: ubuntu-20.04
    needs:
      - build-ubuntu20
    steps:
      - name: Install QEMU
        run: |
          DEBIAN_FRONTEND=noninteractive sudo apt-get -qq update
          DEBIAN_FRONTEND=noninteractive sudo apt-get -qqy install qemu-system-x86

      - name: Checkout
        uses: actions/checkout@v2

      - name: Build default config
        run: |
          . .envrc
          task config

      - name: Set boot mode to network
        run: |
          sed -i '/^ST_BOOT_MODE=local/s/^/#/g' st.config
          sed -i '/^#ST_BOOT_MODE=network/s/^#//g' st.config

      - name: Download network mode disk installations
        uses: actions/download-artifact@v2
        with:
          name: stboot_network_disk
          path: out

      - name: Download example OS Package
        uses: actions/download-artifact@v2
        with:
          name: ospkg
          path: out/ospkgs

      - name: Boot stboot disk in network mode using QEMU
        run: |
          . .envrc
          task demo:server &
          .github/workflows/scripts/test-qemu.sh disk

  run-iso-network:
    runs-on: ubuntu-20.04
    needs:
      - build-ubuntu20
    steps:
      - name: Install QEMU
        run: |
          DEBIAN_FRONTEND=noninteractive sudo apt-get -qq update
          DEBIAN_FRONTEND=noninteractive sudo apt-get -qqy install qemu-system-x86

      - name: Checkout
        uses: actions/checkout@v2

      - name: Build default config
        run: |
          . .envrc
          task config

      - name: Set boot mode to network
        run: |
          sed -i '/^ST_BOOT_MODE=local/s/^/#/g' st.config
          sed -i '/^#ST_BOOT_MODE=network/s/^#//g' st.config

      - name: Download network mode iso installations
        uses: actions/download-artifact@v2
        with:
          name: stboot_network_iso
          path: out

      - name: Download example OS Package
        uses: actions/download-artifact@v2
        with:
          name: ospkg
          path: out/ospkgs

      - name: Boot stboot iso in network mode using QEMU
        run: |
          . .envrc
          task demo:server &
          .github/workflows/scripts/test-qemu.sh iso

  run-disk-local:
    runs-on: ubuntu-20.04
    needs:
      - build-ubuntu20
    steps:
      - name: Install QEMU
        run: |
          DEBIAN_FRONTEND=noninteractive sudo apt-get -qq update
          DEBIAN_FRONTEND=noninteractive sudo apt-get -qqy install qemu-system-x86

      - name: Checkout
        uses: actions/checkout@v2

      - name: Build default config
        run: |
          . .envrc
          task config

      - name: Set boot mode to local
        run: |
          sed -i '/^ST_BOOT_MODE=network/s/^/#/g' st.config
          sed -i '/^#ST_BOOT_MODE=local/s/^#//g' st.config

      - name: Download local mode disk installations
        uses: actions/download-artifact@v2
        with:
          name: stboot_local_disk
          path: out

      - name: Boot stboot disk in local mode using QEMU
        run: |
          . .envrc
          .github/workflows/scripts/test-qemu.sh disk

  build-ubuntu18:
    runs-on: ubuntu-18.04
    steps:
      - name: Install Go 1.17
        uses: actions/setup-go@v1
        with:
          go-version: 1.17

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          . .envrc
          task deps:install

      - name: Build default config
        run: |
          . .envrc
          task config

      - name: Generate example signing keys
        run: |
          . .envrc
          task demo:keygen

      - name: Build stboot image without ospkg
        run: |
          . .envrc
          task images
