---

name: Testing

on:
  - push

jobs:

  ubuntu20:
    runs-on: ubuntu-20.04
    steps:
      - name: Install Go
        run: |
          DEBIAN_FRONTEND=noninteractive sudo apt-get -qq update
          DEBIAN_FRONTEND=noninteractive sudo apt-get -qqy install golang

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          . .envrc
          task deps:install

      - name: Build default config
        run: |
          . .envrc
          task config

      - name: Generate example signing keys
        run: |
          . .envrc
          task demo:keygen

      - name: Build MBR bootloader installation without ospkg
        run: |
          . .envrc
          task image-mbr

      - name: Build EFI application installation without ospkg
        run: |
          . .envrc
          task image-efi

      - name: Build example OS Package
        run: |
          . .envrc
          task demo:ospkg

      - name: Rebuild MBR bootloader installation with ospkg
        run: |
          . .envrc
          task image-mbr

      - name: Rebuild EFI application installation with ospkg
        run: |
          . .envrc
          task image-efi

      - name: Boot MBR bootloader installation using QEMU
        run: |
          . .envrc
          .github/workflows/scripts/test-qemu.sh mbr

      - name: Boot EFI application installation using QEMU
        run: |
          . .envrc
          .github/workflows/scripts/test-qemu.sh efi

  ubuntu18:
    runs-on: ubuntu-18.04
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.17

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          . .envrc
          task deps:install

      - name: Build default config
        run: |
          . .envrc
          task config

      - name: Generate example signing keys
        run: |
          . .envrc
          task demo:keygen

      - name: Build MBR bootloader installation without ospkg
        run: |
          . .envrc
          task image-mbr

      - name: Build EFI application installation without ospkg
        run: |
          . .envrc
          task image-efi

      - name: Build example OS Package
        run: |
          . .envrc
          task demo:ospkg

      - name: Rebuild MBR bootloader installation with ospkg
        run: |
          . .envrc
          task image-mbr

      - name: Rebuild EFI application installation with ospkg
        run: |
          . .envrc
          task image-efi

      - name: Boot MBR bootloader installation using QEMU
        run: |
          . .envrc
          .github/workflows/scripts/test-qemu.sh mbr

      - name: Boot EFI application installation using QEMU
        run: |
          . .envrc
          .github/workflows/scripts/test-qemu.sh efi
